{% extends 'noviceAngler/base.html' %}
{% load static %}
{% block content %}
<main class="findfish_main">
  <div class="modal">
    <div class="modal_container">
      <div class="modal_upperbar">
        <div>사진 첨부하기</div>
        <div class="close-modal">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <form class="modal_content" action="{% url 'noviceAngler:find_fish' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal_buttons">
          <input class="upload-name" value="파일선택" disabled="disabled">
          <label for="file">
            <div class="button right-mg">파일 선택</div>
          </label>
          <input class="file" name="photo" type="file" id="file" accept=".jpg, .jpeg, .png">
          <div class="delete_all button right-mg">전체 삭제</div>
        </div>
        <div class="image_dragbox">
          첨부하실 파일을 추가해 주세요.
        </div>
        <div class="modal_buttons center">
          <input value="등록" type="submit" class="register button">
          <div class="delete button">취소</div>
        </div>
      </form>
    </div>
  </div>
  <div class="findfish_image">
    <img src="{% static 'images/find_fish.png' %}" alt="">
  </div>
  <div class="findfish_textbox">
    <h1 class="point_title">물고기 찾기</h1>
    <p class="point_text1">잡은 물고기 종류가 궁금할 때 찾아주세요!</p>
    <p class="point_text2">사진 검색을 통해 여러분이 잡은 물고기의 사진을 넣어주세요.</p>
    <p class="point_text2">해당 물고기가 어떤 종류인지 찾아드립니다.</p>
    <div class="button" id="open-modal">시작하기</div>
  </div>
</main>
<script>
  const modal = document.querySelector(".modal");
  const openModalBtn = document.querySelector("#open-modal");
  const closeModalBtn = document.querySelector(".close-modal");
  const deleteBtn = document.querySelector(".delete")
  // 모달창 열기
  openModalBtn.addEventListener("click", () => {
    modal.style.display = "flex";
    document.body.style.overflow = "hidden"; // 스크롤바 제거
  });
  // 모달창 닫기
  closeModalBtn.addEventListener("click", () => {
    modal.style.display = "none";
    document.body.style.overflow = "auto"; // 스크롤바 보이기
  });
  deleteBtn.addEventListener("click", () => {
    modal.style.display = "none";
    document.body.style.overflow = "auto"; // 스크롤바 보이기
  });

  //이미지 드래그 
  const dragBox = document.querySelector(".image_dragbox");
  /* 박스 안에 Drag 들어왔을 때 */
  dragBox.addEventListener('dragenter', function(e) {
    console.log('dragenter');
  });

  /* 박스 안에 Drag를 하고 있을 때 */
  dragBox.addEventListener('dragover', function(e) {
    e.preventDefault();
    console.log('dragover');

    this.style.backgroundColor = '#7B95B7';
  });

  /* 박스 밖으로 Drag가 나갈 때 */
  dragBox.addEventListener('dragleave', function(e) {
    console.log('dragleave');

    this.style.backgroundColor = 'white';
  });

  /* 박스 안에서 Drag를 Drop했을 때 */
  dragBox.addEventListener('drop', function(e) {
    e.preventDefault();

    console.log('drop');
    this.style.backgroundColor = 'white';
  });
  //
  const fileInput = document.querySelector('#file');
  const uploadName = document.querySelector('.upload-name');
  fileInput.addEventListener('change', function(e) {
  let fileName = fileInput.files[0].name;
  
  uploadName.setAttribute('value', fileName);
})

//전체 삭제 버튼
const deleteAllBtn = document.querySelector('.delete_all')
deleteAllBtn.addEventListener('click', function() {
    fileInput.value = null
    // Check if a file is selected
    if (fileInput.files.length > 0) {
      var file = fileInput.files[0];

      // Perform file upload logic here, e.g., send it to a server

      // Delete the file from the input element
      fileInput.files.remove(0);
      console.log(fileInput.files);
    }
    console.log(fileInput.value)
    uploadName.setAttribute('value', '파일선택');
  })
</script>
{% endblock %}