{% extends 'noviceAngler/base.html' %}
{% load static %}
{% block content %}
<main class="fish_info_main">
  <div class="fish_image">
    <img src="{% static 'images/fish.png' %}" alt="">
    <a class="goback_btn" href="javascript:history.go(1)">돌아가기</a>
  </div>
  <div class="fish_info">
    <div class="fish_name">
      <img src="{% static 'images/black_fish.png' %}" alt="">
      <span style="font-size: 50px; font-weight: bold">{{fish.fish_name}}</span>
      <span class="fish_period">{{fish.season}}</span>
    </div>
    <div class="fishing_ways">
      <p class="title">낚시 방법</p>
      <div class="normal_text">{{fish.float_fishing}}</div>
      <div class="normal_text">{{fish.lure_fishing}}</div>
      <div class="normal_text">{{fish.onetwo_fishing}}</div>
    </div>
    <div class="main_point">
      <p class="title">주요 낚시 포인트</p>
      <div class="normal_text">{{fish.locations}}</div>
    </div>
    <div class="notice">
      <p class="title">유의점</p>
      <div class="notice_detail">{{fish.notices}}</div>
    </div>
  </div>
</main>
{% endblock %}